@media  screen and (max-width:450px){
    body{
        background-color: black;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .logo{
        margin-top: 2px;
        width: 200px;
        
    }
    .main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .ul li{
        list-style-type: none;
        font-size: 10px;
        margin: 10px;
    }
    .icon{
        width: 30px;
        margin: 10px;
        border-radius: 20px;
        transform: 1s;
    }
    .icon:hover{
        transform: scale(1.1);
        box-shadow: 0 0 10px 10px purple;
    }
    .vedio-back{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .div-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .text-one{
        color: antiquewhite;
        /* width: 100%; */
        /* margin: 20px; */
        margin-left: 20px;
        /* padding: 40px; */
        
    
    }
    .image-card-main{
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-card-main img{
        width: 100%;
    
     
    }
    .image-card{
        width: 100%;
    }
    .image-card h1{
        padding: 20px;
    }
    .image-card p{
        padding: 20px;
    }
    .image-card h2{
        padding: 20px;
    }
    .btn{
        margin-top: 70px;
        width: 300px;
        font-size: 20px;
        background-color: black;
        color: aliceblue;
        box-shadow: 0 0 10px 10px purple;
    }
    .zee-card{
        display: flex;
        flex-wrap: wrap;
        margin: 0%;
      }
      .intro_main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* width: 400px; */
    }



    .footer{
        background-color: rgb(215, 82, 215);
width: 400px;
margin: 0px;

    }
    .footer-img{
        width: 50px;
        border-radius: 0px;
        text-align: center;
            margin-left: 50px;

         
         
    
    }
}



















@media  screen and (min-width:400px)and  (max-width:1150px){
    body{
        /* background-color: rgb(64, 0, 255); */
    }
    .logo{
        margin-top: 2px;
        width: 300px;
    
    }
    .main{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    
    .ul li{
        list-style-type: none;
        margin: 7px;
        font-size: 15px;
    }
    .icon{
        width: 50px;
        margin: 10px;
        border-radius: 20px;
        transform: 1s;
    }
    .icon:hover{
        transform: scale(1.1);
        box-shadow: 0 0 10px 10px purple;
    }
  
    .intro_main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 400px;
    }
}