 body{
    background-color: black;
    margin: 0%;
 }
 .img{
    width: 100%;
    height: 100%;
}
.logo{
    margin-top: 10px;
    width: 200px;
}
.main{
    display: flex;
    justify-content: space-between;
}
.ul{
    display: flex;
    color: aliceblue;
}
.ul li{
    list-style-type: none;
   margin: 10px;
   font-size: 20px;
}
.ul li:hover{
    color: purple;
}
.icon{
    width: 50px;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.icon:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px 10px purple;
}
.vedio-one{
    width: 100%;
}
.vedio-back{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vedio-two{
    width: 50%;
}
.text-one{
    color: antiquewhite;
    width: 200px;
    margin-top: 50px;
    padding: 50px;
 

}
.div-one{
    display: flex;
}
.text-one h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}
.image-card-main{
    
    display: flex;
}
.image-card-main img{
width: 50%;
}

.image-card{
    width: 50%;
    color: antiquewhite;
    margin-top: 0px;
    background-color: purple;
    padding: 40px;
}
.image-card h2 {
    color: palevioletred;
}
.one{
    background-color: black;
    margin-bottom: 10px;
}
button{
    width: 200px;
    color: purple;
    padding: 15px;
background-color: rgb(220, 207, 220);
font-size: 30px;
margin-left: 50px;
box-shadow: 0 0 10px 20px green;
transition: 1s;
}
button:hover{
    color: green;
    box-shadow: 0 0 10px 10px rgb(122, 64, 122);
    transform: scale(1.2);
}
.btn{
    font-size: 40px;
    width: 600px;
    margin-top: 50px;
    margin-left:100px;
    box-shadow: 0 0 10px 10px rgb(122, 64, 122);
    color: antiquewhite;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.zee-card{
  display: flex;
  
}
.card-card{
    align-items: center;
    margin: 40px;
    padding: 20px;
    margin-top: 100px;
    color: wheat;
    /* border: 5px solid beige; */
    
}
.card-card h1{
    color: purple;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-card h4{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pink{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 50px;
    
}
.pink-img{
    width: 60px;
    margin: 20px;
}
.pink-h1{
    color: blanchedalmond;
}
.pink-child{
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-between;
width: 100%;
    
   
}
.btn1{
    width: 200px;
    margin: 0;
    box-shadow:  0  0 10px 20px purple;
}
.intro_main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    width: 220px;
    margin: 20px;
    padding: 20px;
    
}
.intro h1{
    color: purple;
    font-size: 40;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro img{
    border-top: 10px solid red;
    border-bottom: 7px solid green;
    border-left: 7px solid rgb(0, 2, 128);
    border-right: 7px solid rgb(239, 255, 61);
    border-radius:50%;
}
.footer{
    background-color: rgb(215, 82, 215);
    width: 100%;
    height: 200px;
}
.footer-img{
    width: 50px;
    border-radius: 50%;
    text-align: center;
        margin-left: 100px;
     margin-top: 20px
     

 }
 .footer-img:hover{
   box-shadow: 0 0 10px 10px rgb(20, 249, 249);
}
.head1{
    margin-top: 20px;
    text-align: center;
} 
.h4{
    text-align: center;
}
